{% extends 'srvbd/base.html' %}
{% load static %}
{% block content %}
	<div class ="container">
    <div class="row">
      <div class="col">
        <h3>Запчасти в наличии:</h3>
      </div>
    </div>
    <br>
		<table  class="table table-striped table table-bordered" >
  			<thead class="thead-dark table-condensed table-bordered table-hover">
    			<tr>
    				<th scope="col">№ ID</th>
    				<th scope="col">Наименование</th>
     				<th scope="col">Партномер производителя</th>
      				<th scope="col">Описание</th>
      				<th scope="col">Тип запчасти</th>
      				<th scope="col">Вид устройства</th>
      				<th scope="col">Производитель</th>
              		<th scope="col">Приход</th>
              		<th scope="col">Стоимость</th>
              		<th scope="col">Кол-во</th>
              		<th scope="col">Итого</th>
    			</tr>
  			</thead>
  			<tbody>

  				{% if detail %}
    				{% for Detail in detail %}
    			<tr>
  				  <th scope="row">{{i.detail_name__id}}</th>
  				  <td>{{Detail.detail_name__name}}</td>
  				  <td>{{Detail.detail_name__part_num}}</td>
  				  <td>{{Detail.detail_name__specification}}</td>
  				  <td>{{Detail.detail_name__attachment_part__type_spar_part}}</td>
  				  <td>{{Detail.detail_name__attachment_appliances__type_appliances}}</td>
  				  <td>{{Detail.detail_name__attachment_manufacturer__manufacturer}}</td>
                  <td>{{Detail.attach_for_incoming__incoming_date}}</td>
            	  <td>{{Detail.incoming_price}}</td>
                  <td>{{Detail.quantity}}</td>
            	  <td></td>
          		</tr>
    				{%endfor%}
    			{%endif%}
    		</tbody>
    </table>
  </div>
{% endblock %}
