{% extends 'srvbd/base.html' %}
{% load static %}
{% block content %}
  <script type="text/javascript" src="{% static 'srvbd/js/detail_in_stock.js' %}"></script>
  <title>Запчасти в наличии</title>
  <div id="new_detail" data-ajax_url="{% url 'detail_in_stock_url' %}"></div>
  <div id="filter_url" data-ajax_url=""></div>
	<div class ="container-fluid container-md">
	   <div class="row">
	       <h3 class="ml-1">Запчасти в наличии</h3>
	   </div>
	   <hr>
	   <div class="row">
            <h4 class="ml-1">Информация о складе:</h4>
	   </div>
       <div class="row align-items-start mt-2">
            <div class="col">
                <dt class="">Всего позиций:</dt>
                <dd class="">{{detail_count}}</dd>
                <dt class="">Всего денег:</dt>
                <dd class="">{{equal_details}}</dd>
            </div>  
        </div>
	  <hr>
	  <div class="row">
		<h4 class="ml-1">Фильтр</h4>
	  </div>
	  <form id="filter_form" action="">
		<div class="row justify-content-between">
		  <div class="col-md-6">
			  <label for="name">Наименование:</label>
			  {{detail_filter.name}}
			</div>
			<div class="col-md-4">
			<label for="select_applience">Выберите тип устройства:</label>
			  {{specification_filter.attachment_appliances}}
			  <datalist id="attachment_appliances"></datalist>
			</div>
		</div>
		<div class="row justify-content-between">
		  <div class="col-md-6">
			<label for="specification">Описаине:</label>
			  {{detail_filter.specification}}
			</div>
			<div class="col-md-4">
			  <label for="select_type_sparpart">Выберите тип запчасти:</label>
			  {{specification_filter.attachment_part}}
			  <datalist id="attachment_part"></datalist>
			</div>
		</div>
		<div class="row justify-content-between">
		  <div class="col-md-6">
			<label for="part_num">Парт-номер произвоидетеля:</label>
			  {{detail_filter.part_num}}
			</div>
			<div class="col-md-4">
			  <label for="select_manufacturer">Выберите производителя:</label>
			  {{specification_filter.attachment_manufacturer}}
			  <datalist id="attachment_manufacturer"></datalist>
			</div>
		</div>
		<div class="row justify-content-end mt-3">
            <div class="col-auto">
                <button id="but_dropping" class="btn btn-danger " type="reset" >Сброс</button>
                <button id="but_filter" class="btn btn-success" type="submit" >Фильтр</button>
            </div>
        </div>
		  
	  </form>
	<div class="row mt-3" id="count_obj">
	  
	</div>
	<div class="justify-content-center table-responsive-md">
		<table  class="  table table-striped table table-bordered" data-table-sm-css="" >
				<thead class="  thead-dark table-condensed table-bordered table-hover">
				<tr>
					<th width="5%" >id</th>
					<th width="10%">Наименование</th>
					<th width="10%" >Партномер производителя</th>
					<th width="24%" >Описание</th>
					<th width="10%" >Тип запчасти</th>
					<th width="10%" >Вид устройства</th>
					<th width="10%" >Производитель</th>
        			<th width="7%" >Приход</th>
        			<th width="7%" >Кол-во</th>
        			<th width="7%" >Стоимость</th>
				</tr>
				</thead>
				<tbody id="table_body">
				
			   </tbody>
	  </table>
	</div>
  </div>
{% endblock %}
