{% extends 'srvbd/base.html' %}
{% load static %}
{% block content %}
	<script type="text/javascript" src="{% static 'srvbd/js/edit_incoming.js' %}"></script>
	
	{% if incom %}
		
		<div class="container">
			<div class="row">
				<div class="col">
					<h3>К приходу:</h3>
					<h5>Дата прихода:<p>{{incom.incoming_date}}</p></h5>
					<h5>Поставщик:<p>{{incom.ship}}</p></h5>
					<h5>Курс ($):<p>{{incom.exchange_rates}}</p></h5>
				</div>
				<div class="row justify-content-end">
					<div class="col">
						<form action="{%url 'edit_incoming_url' incom.id %}" method="post">
							{% csrf_token %}
			    			<button tupe="submit" class="btn btn-success btn-lg">Сохранить</button>
		    			</form>
		    		</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<hr class="style5">
				</div>
			</div>
		</div>
		
	{% endif %}	
	{% if filter_spar_part %}
		<div class="container">
			<div class="row">
				<div class="col">
					<h3>Фильтр по справочнику:</h3>
				</div>
			</div>
			<form action="{%url 'ajax_create_incom_filter'%}" id="form">
				<div class="form-row">
					{% csrf_token %}
					<div class="col">
						<label>Выберите тип устройства:</label>
						{{ filter_spar_part.select_applience }}
			   			<datalist  id="applience">
			   			{% for field in choice_appliances %}
			    			<option value="{{ field.type_appliances}}"></option>
			    		{% endfor %}
			    		</datalist>
			    	</div>
			    	<div class="col">
			    		<label>Выберите тип запчасти:</label>
			    		{{ filter_spar_part.select_type_sparpart }}
			    		<datalist id="type_sparpart">
			   			{% for field in choice_type_sparpart %}
			    			<option value="{{ field.type_spar_part}}"></option>
			    		{% endfor %}
			    		</datalist>
			    	</div>
			    	<div class="col">
			    		<label>Выберите производителя:</label>
			    		{{ filter_spar_part.select_manufacturer }}
			    		<datalist id="manufactuer">
			   			{% for field in choice_manufactuer %}
			    			<option value="{{ field.manufacturer}}"></option>
			    		{% endfor %}
			    		</datalist>
			    	</div>
				</div>
				<br>
			</form>
				<div class="row justify-content-end">
					<div class="col-md-1 col-md-offset-4">
		    			<button id="but_filter" class="btn btn-success" >Фильтр</button>
		    		</div>
		    	</div>
		</div>
	{% endif %}		
		
		<div class="container remoove"  id="filter_table">
			<br>
			<form action="{% url 'ajax_create_incom_incom_detail' incom.id  %}" id="form_detail">
				{% csrf_token %}
				<div class ="container">
					<table class="table table-striped table table-bordered" >
			  			<thead class="thead-dark table-condensed table-bordered table-hover">
			    			<tr>
			     				<th scope="col">№ Id</th>
			      				<th scope="col">Наименование</th>
			     		 		<th scope="col">Партномер производителя</th>
			      				<th scope="col">Описание</th>
			      				<th scope="col">Тип запчасти</th>
			      				<th scope="col">Вид устройства</th>
			      				<th scope="col">Производитель</th>
			      				<th scope="col">Дейсвие</th>
			    			</tr>
			  			</thead>
			  			<tbody id="table_body">
			    			
			    		</tbody>
			    	</table>
			  	</div>
			</form>
		</div>
		
		<div class="container remoove" id="detail_table" data-index-url="{% url 'edit_incoming_url' incom.id  %}">
			<div class="row">
				<div class="col">
					<hr class="style5">
				</div>
			</div>
			<br>
			<table class="table table-striped table table-bordered" >
	  			<thead class="thead-dark table-condensed table-bordered table-hover">
	    			<tr>
	      				<th scope="col">Наименование</th>
	     		 		<th scope="col">Партномер производителя</th>
	      				<th scope="col">Описание</th>
	      				<th scope="col">Количество</th>
	      				<th scope="col">Цена</th>
	      				<th scope="col">Действие</th>
	    			</tr>
	  			</thead>
	  			<form action="{% url 'ajax_create_incom_change_detail' incom.id  %}" id="form_change_detail">
		  			<tbody id="tbody_new_detail" data-form-action="{% url 'ajax_create_incom_delete_detail' incom.id  %}">
			    		
					</tbody>
    			</form>
	    	</table>
		</div>





{% endblock %}

