{% extends 'srvbd/base.html' %}
{% load static %}
{% block content %}
	<script type="text/javascript" src="{% static 'srvbd/js/edit_incoming.js' %}"></script>
	<div class="container">
		{% if incom %}
			<div class="row">
				<h3>Приход запчастей на склад:</h3>
			</div>
			<hr>
			<div class="row">
				<h4>Информация:</h2>
			</div>
			<dl class="row">
					<dt class="col-sm-3">Дата создания:</dt>
					<dd class="col-sm-9">{{incom.incoming_date}}</dd>
					<dt class="col-sm-3">Курс(EUR):</dt>
					<dd class="col-sm-9">{{incom.exchange_rates__exchange_rates}}</dd>
					<dt class="col-sm-3">Поставщик:</dt>
					<dd class="col-sm-9">{{incom.full_name}}</dd>
					<dt class="col-sm-3">Валюта прихода:</dt>
					{% if incom.currency == 'EUR' %}
						<dd class="col-sm-9 text-danger">{{incom.currency}}</dd>
					{% else %}
						<dd class="col-sm-9">{{incom.currency}}</dd>
					{% endif %}
			</dl>
			<hr>
			<div class="row">
				<h4>Фильтр</h4>
			</div>
			<form id="filter_form" action="{% url 'ajax_create_incom_filter' %}">
				<div class="row justify-content-between">
					<div class="col-md-6">
	    				<label for="name">Наименование:</label>
	    				{{detail_filter.name}}
	    			</div>
	    			<div class="col-md-4">
						<label for="select_applience">Выберите тип устройства:</label>
	    				{{specification_filter.attachment_appliances}}
	    				<datalist id="attachment_appliances"></datalist>
	    			</div>
				</div>
				<div class="row justify-content-between">
					<div class="col-md-6">
						<label for="specification">Описаине:</label>
	    				{{detail_filter.specification}}
	    			</div>
	    			<div class="col-md-4">
	    				<label for="select_type_sparpart">Выберите тип запчасти:</label>
	    				{{specification_filter.attachment_part}}
	    				<datalist id="attachment_part"></datalist>
	    			</div>
				</div>
				<div class="row justify-content-between">
					<div class="col-md-6">
						<label for="part_num">Парт-номер произвоидетеля:</label>
	    				{{detail_filter.part_num}}
	    			</div>
	    			<div class="col-md-4">
	    				<label for="select_manufacturer">Выберите производителя:</label>
	    				{{specification_filter.attachment_manufacturer}}
	    				<datalist id="attachment_manufacturer"></datalist>
	    			</div>
				</div>
				
				<div class="row justify-content-end">
					<div class="col-md-1 col-md-offset-4 mt-4">
			    		<button id="but_filter" class="btn btn-success" type="submit" >Фильтр</button>
			    	</div>
			    </div>	
			</form>
			
			<div class="remoove row justify-content-md-center"  id="filter_table">
				<br>
				<form action="{% url 'ajax_create_incom_incom_detail' incom.id %}" id="form_detail">
					{% csrf_token %}
					<table class="table table-striped table-bordered" >
			  			<thead class="thead-dark table-condensed table-bordered table-hover">
			    			<tr>
			     				<th scope="col">№ Id</th>
			      				<th scope="col">Наименование</th>
			     		 		<th scope="col">Партномер производителя</th>
			      				<th scope="col">Описание</th>
			      				<th scope="col">Тип запчасти</th>
			      				<th scope="col">Вид устройства</th>
			      				<th scope="col">Производитель</th>
			      				<th scope="col">Дейсвие</th>
			    			</tr>
			  			</thead>
			  			<tbody id="filter_table_body">
			    			
			    		</tbody>
			    	</table>
				</form>
			</div>
			
			<div class="remoove " id="detail_table" data-index-url="{% url 'edit_incoming_url' incom.id  %}">
				<div class="row">
    				<h4>Запчасти в приходе:</h4>
    			</div>
    			<hr>
	    		<br>
				<table class="table table-striped table table-bordered" >
		  			<thead class="thead-dark table-condensed table-bordered table-hover">
		    			<tr>
		      				<th scope="col">Наименование</th>
		     		 		<th scope="col">Партномер производителя</th>
		      				<th scope="col">Описание</th>
		      				<th scope="col">Количество</th>
		      				{% if incom.currency == 'EUR' %}
								<th scope="col" class="text-danger">Цена(EUR)</th>
							{% else %}
								<th scope="col">Цена</th>
							{% endif %}
		      				
		      				<th scope="col">Действие</th>
		    			</tr>
		  			</thead>
		  			<form action="{% url 'ajax_create_incom_change_detail' incom.id  %}" id="form_change_detail">
			  			<tbody id="tbody_new_detail" data-form-action="{% url 'ajax_create_incom_delete_detail' incom.id  %}">
				    		
						</tbody>
	    			</form>
		    	</table>
			</div>
			<br>
			<div class="row justify-content-end">
				<form action="{%url 'edit_incoming_url' incom.id %}" method="post">
					{% csrf_token %}
	    			<button tupe="submit" class="btn btn-success btn-lg">Сохранить</button>
    			</form>
			</div>

	</div>
		{% endif %}
{% endblock %}

