{% extends 'srvbd/base.html' %}
{% load static %}
{% block content %}
  <div class = "container" id = "mar_top">
    <h2>Добавление запчасти в справочник:</h2>
    <form action="{% url 'add_part_url' %}" method="post">
      {% csrf_token %}
      <div class ="form-group">
        {% for field in form %}
          {% if field.errors %}
            <div class="alert alert-danger">{{ field.errors}}</div>
          {% endif %}
          {{ field.label }}
          {{ field }}
        {% endfor %}
      </div>
      <button tupe = "submit"class="btn btn-success" name = "but_1">Добавить</button>
    </form>
    <h2>Если вышеупомянутые описания отсутствуют:</h2>
    <h4>Добавить тип запчасти в справочник:</h4>
    <form action="{% url 'add_part_url' %}" method="post">
      <div class = "form-group">
        {% if field.errors %}
            <div class="alert alert-danger">{{ field.errors}}</div>
          {% endif %}
        {% csrf_token %}
        {{ form_add_attachment_part.label }}
        {{ form_add_attachment_part }}
      </div>
      <button tupe="submit" class="btn btn-success" name = "but_2">Добавить</button>
    </form>
    <h4>Добавить вид техники в справочник:</h4>
    <form action="{% url 'add_part_url' %}" method="post">
      <div class = "form-group">
        {% csrf_token %}
        {% if field.errors %}
            <div class="alert alert-danger">{{ field.errors}}</div>
          {% endif %}
        {{ form_add_attachment_appliances.label }}
        {{ form_add_attachment_appliances }}
      </div>
      <button tupe="submit" class="btn btn-success" name = "but_3">Добавить</button>
    </form>
    <h4>Добавить произвоидетля:</h4>
    <form action="{% url 'add_part_url' %}" method="post">
      <div class="form-group">
        {% csrf_token %}
        {% if field.errors %}
            <div class="alert alert-danger">{{ field.errors}}</div>
          {% endif %}
        {{ form_add_manufacturer.label }}
        {{ form_add_manufacturer }}
      </div>
      <button tupe="submit" class="btn btn-success" name = "but_4">Добавить</button>
    </form>
  </div>
{% endblock %}
