{% extends 'srvbd/base.html' %}
{% load static %}
{% block content %}
  <title>Добавить клиента</title>
  <script type="text/javascript" src="{% static 'srvbd/js/person_create.js' %}"></script>
  <div class="container-fluid container-md">
    <form action="{% url 'create_persons_url' %}" method="post">
      {% csrf_token %}
      <div class="row">
          <h3 class="ml-1">Добавить клиента:</h3>
      </div>
      <div class="form-row">
        <div class="col">
          <label>Имя:</label>
          {{form.first_name}}
        </div>
        <div class="col">
          <label>Фамилия:</label>
          {{form.last_name}}
        </div>
        <div class="col">
          <label>Отчество:</label>
          {{form.patronymic_name}}
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm">
          <label>Адресс:</label>
          {{form.addres}}
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-5">
          <label>Телефон:</label>
          {{form.tell}}
        </div>
        <div class="col-md-2">
          <label>Роль:</label>
          {{form.role}}
        </div>
        <div class="col-md-1">
          <label>Дисконт(%):</label>
          {{form.discount}}
        </div>
        <div class="col-md-4">
          <label>Email:</label>
          {{form.email}}
        </div>
      </div>
      <div class="row justify-content-end mt-3">
        <div class="col-auto">
          <button tupe="submit" class="btn btn-success">Добавить</button>
        </div>
      </div>
      
    </form>
  </div>

{% endblock %}