{% extends 'srvbd/base.html' %}
{% load static %}
{% block content %}

	<script type="text/javascript" src="{% static 'srvbd/js/sales_to_customer_list.js' %}"></script>
	<div class="container">
		<div class="row">
			<h3>Продажные ордера</h3>
		</div>
		<hr>
		<div class="row">
			<div class="row justify-content-center " id ="table" data-ajax_url='{% url "customer_list_change_payment_state" %}'>
				<table  class="table table-striped table-bordered " id = 'table_list' data-ajax_url = "{{'sales_to_customer_url'}}">
		  			<thead class="thead-dark table-condensed table-bordered table-hover">
		    			<tr>
		    				<th scope="col">Id</th>
		    				<th scope="col">Клиент</th>
		      				<th scope="col">Дата создания</th>
		      				<th scope="col">Статус выдачи</th>
		      				<th scope="col">Статус оплаты</th>
		      				<th scope="col">Дата оплаты</th>
		              		<th scope="col">Сумма</th>
		              		<th scope="col">Дейсвие</th>
		    			</tr>
		  			</thead>
		  			<tbody id="table_body" data-ajax_url="{% url 'sales_to_customer_list_url' %}">

		    		</tbody>
		    	</table>
	    	</div>
		</div>
	</div>




{% endblock %}