{% extends 'srvbd/base.html' %}
{% load static %}
{% block content %}

	<script type="text/javascript" src="{% static 'srvbd/js/sales_to_customer_list.js' %}"></script>
	<div class="container-fluid container-md">
		<div class="row">
			<h3 class="ml-1">Продажные ордера</h3>
		</div>
		<hr>
		<div class=" table-responsive-md table  justify-content-center-lg mt-3" id ="table" data-ajax_url='{% url "customer_list_change_payment_state" %}'>
			<table  class=" justify-content-center  table table-striped table-bordered  " data-table-sm-css="" data-ajax_url = "{{'sales_to_customer_url'}}">
	  			<thead class="thead-dark table-condensed table-bordered table-hover">
	    			<tr>
	    				<th width="2%" >Id</th>
	    				<th  >Клиент</th>
	      				<th width="15%" >Дата создания</th>
	      				<th width="5%" >Статус выдачи</th>
	      				<th width="5%" >Статус оплаты</th>
	      				<th width="15%" >Дата оплаты</th>
	              		<th width="6%">Сумма</th>
	              		<th width="6%" >Дейсвие</th>
	    			</tr>
	  			</thead>
	  			<tbody id="table_body" data-ajax_url="{% url 'sales_to_customer_list_url' %}">

	    		</tbody>
	    	</table>
	    	<div class="dropdown-menu" aria-labelledby="dropdownMenuOffset_23">
		      <a class="dropdown-item" href="#">Action</a>
		      <a class="dropdown-item" href="#">Another action</a>
		      <a class="dropdown-item" href="#">Something else here</a>
		    </div>
    	</div>
	</div>




{% endblock %}