{% extends 'srvbd/base.html' %}
{% load static %}
{% block content %}
  <title>Добавить поставщика</title>
  <div class="container-fluid container-md">
    <form action="{% url 'create_shipper_url' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <h3 class="ml-1">Добавить поставщика:</h3>
      </div>
      <div class="form-row">
        <div class="col">
          <label>Имя:</label>
          {{ship_create.first_name}}
        </div>
        <div class="col">
          <label>Фамилия:</label>
          {{ship_create.last_name}}
        </div>
        <div class="col">
          <label>Отчество:</label>
          {{ship_create.patronymic_name}}
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label>Описание:</label>
          {{ship_create.specification}}
        </div>
      </div>
      <div class="row justify-content-end mt-3">
        <div class="col-auto">
          <button tupe="submit" class="btn btn-success">Добавить</button>
        </div>
      </div>
    </form>
  </div>

{% endblock %}