{% extends 'srvbd/base.html' %}
{% load static %}
{% block content %}
	<div class ="container">
    <div class="row">
      <div class="col">
        <h3>Список поставщиков:</h3>
      </div>
    </div>
    <br>
		<table class="table table-striped table-hover table-bordered" >
  			<thead class="thead-dark table-condensed table-bordered table-hover">
    			<tr>
     				<th scope="col-md-1">№ Id</th>
      			<th scope="col-md-2">Имя</th>
     		 		<th scope="col-md-2">Фамилия</th>
      			<th scope="col-md-2">Отчесвто</th>
      			<th scope="col-md-5">Описание</th>
    			</tr>
  			</thead>
  			<tbody>

  				{% if ship_list %}
    				{% for Shipper in ship_list %}
    			<tr>
  				  <th scope="row">{{Shipper.id}}</th>
  				  <td>{{Shipper.first_name}}</td>
  				  <td>{{Shipper.last_name}}</td>
  				  <td>{{Shipper.patronymic_name}}</td>
  				  <td>{{Shipper.specification}}</td>
          </tr>
    				{%endfor%}
    			{%endif%}
    		</tbody>
    </table>
  </div>
{% endblock %}
	