{% extends 'srvbd/base.html' %}
{% load static %}
{% block content %}
	<div class = "container">
      <div class="row">
        <div class="col">
          <h3>Запчасти в справочнике:</h3>
        </div>
      </div>
      <br>
      <div class="d-flex p-12 table-responsive-md">
    		<table  class="table table-striped table table-bordered" >
      			<thead class="thead-dark table-condensed table-bordered table-hover">
        			<tr>
         				<th scope="col">№ Id</th>
                  <th scope="col">Наименование</th>
                  <th scope="col">Партномер производителя</th>
                  <th scope="col">Описание</th>
                  <th scope="col">Тип запчасти</th>
                  <th scope="col">Вид устройства</th>
                  <th scope="col">Производитель</th>
                </tr>
      			</thead>
      			<tbody>

      				{% if manual %}
        				{% for SparPart in manual %}
        			<tr>
      				  <th scope="row">{{SparPart.id}}</th>
                <td>{{SparPart.name}}</td>
                <td>{{SparPart.part_num}}</td>
                <td>{{SparPart.specification}}</td>
                <td>{{SparPart.attachment_part}}</td>
                <td>{{SparPart.attachment_appliances}}</td>
                <td>{{SparPart.attachment_manufacturer}}</td>
              </tr>
        				{%endfor%}
        			{%endif%}
        		</tbody>
        </table>
      </div>
  </div>
{% endblock %}
	