nav {
	background-color: #119280;
}

body {
	padding-top: 70px;
	padding-bottom: 20px;
}

hr.style5 {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

div.remoove {
	display: none;
}

.table-striped tbody tr.error {
	background: #FF6440;
}

.table--layout--fixed {table-layout: fixed;}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
	table[data-table-sm-css=""] td,
	table[data-table-sm-css=""] th {
		padding: 0.3rem;
	}
}

